# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS tmp files
*.log
*.tlog
*.db
*.idb
*.obj
*.ilk
*.exp
*.pdb
*.user
*.ipch
*.suo
*.sdf
*.opensdf

debug/
Debug/
release/
Release/
obj/